/*------ IMPORT GOOGLE FONTS ------*/

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------ GLOBAL RULES ------*/

html {
  box-sizing: border-box;
  font-size: 24px;
  font-family: "Prompt", "Lato", sans-serif;
  background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body>* {
  max-width: 1200px;
  margin: 0 auto;
}

/*------ HEADER ELEMENT ------*/

.page-title,
.footer {
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  color: hsl(194, 100%, 91%);
  text-align: center;
  border-radius: 15px;
  box-shadow: 12px 12px 12px 2px rgb(63, 76, 119);
}

/*------ MAIN ELEMENT ------*/

.content {
  font-family: "Lato";
  margin: 30px auto;
}

/*------ MAIN ELEMENT [CONTAINER = 01]------*/

.container-box {
  height: 600px;
  width: 600px;
  background-color: coral;
  margin: 0 auto;
}

/*------ MAIN ELEMENT [CONTAINER = 02]------*/

.container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

/**====== MAIN ELEMENT [BUTTONS CONTAINER] ======**/

.container-button-left,
.container-button-center,
.container-button-right {
  background-color: hsl(360, 100%, 0%);
  color: hsl(360, 100%, 100%);
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
}

.container-button-left,
.container-button-right {
  position: relative;
  flex-basis: 40%;
}

.container-button-left>label,
.container-button-right>label {
  position: relative;
  z-index: 5;
}

label>input {
  /* appearance: none; */
}

.slider {
  /* background-color: oklch(85.78% 0.18 154.94); */
  outline: solid 5px hsl(223, 88%, 62%);
  background-color: hsl(223, 88%, 62%);
  box-shadow: 0 0 0 10px hsla(0, 0%, 0%);
  width: 33.33%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1;
}

/***====== MAIN ELEMENT [LEFT BUTTONS CONTAINER] ======***/

.container-button-left {
  /* flex-basis: 40%; */
}

/***====== MAIN ELEMENT [CENTER BUTTON CONTAINER] ======***/

.container-button-center {
  flex-basis: 10%;
}

/***====== MAIN ELEMENT [RIGHT BUTTONS CONTAINER] ======***/

.container-button-right {
  /* flex-basis: 40%; */
}
