/*------ IMPORT GOOGLE FONTS ------*/

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------ GLOBAL RULES ------*/

html {
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Prompt", "Lato", sans-serif;
  background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body>* {
  max-width: 1000px;
  margin: 0 auto;
}

/*------ HEADER ELEMENT ------*/

.page-title,
.footer {
  background-color: hsl(0, 0%, 0%);
  color: hsl(52, 89%, 96%);
  text-align: center;
  border: solid 10px hsl(51, 84%, 66%);
}

/*------ MAIN ELEMENT ------*/

.content {
  font-family: "Lato";
  margin: 30px auto;
}

/*------ MAIN ELEMENT CONTENTS ------*/

.outer-container-top,
.outer-container-bottom {
  display: flex;
  gap: 15px;
}

/**------ MAIN ELEMENT CONTENTS [CONTAINER - 01] ------**/

.container-box {
  height: 700px;
  min-width: 700px;
  background-color: coral;
  margin: 0 auto;
}

.trail-mode,
.rgb-mode {
  background-color: hsl(0, 0%, 0%);
  border: solid 10px hsl(223, 88%, 62%);
  color: oklch(94.22% 0.039 147.53);
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: 100%;
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Prompt";
}

/**------ MAIN ELEMENT CONTENTS [CONTAINER - 02] ------**/

.outer-container-bottom {
  margin-top: 30px;
  font-size: 1.1rem;
}

.container-button-left,
.container-button-right {
  color: hsl(360, 100%, 100%);
  display: flex;
  justify-content: space-around;
  flex-basis: 30%;
  border: solid 10px oklch(62.67% 0.221 292.59);
}

.container-button-left,
.container-button-right,
.select-size,
.container-button-slider {
  background-color: hsl(0, 0%, 0%);
  color: oklch(87.16% 0.053 292.59);
}

.select-size,
.container-button-right {
  padding: 30px 15px;
}

.container-button-slider>label,
.container-button-right>label,
.container-button-right label input {
  position: relative;
  z-index: 5;
  cursor: pointer;
}

/**====== MAIN ELEMENT CONTENTS [CONTAINER - 02 || LEFT SECTION] ======**/

.select-size {
  width: 100%;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

/**====== MAIN ELEMENT CONTENTS [CONTAINER - 02 || MIDDLE SECTION] ======**/

.container-button-slider {
  flex-basis: 100%;
  border: solid 10px oklch(85.78% 0.18 154.94);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider {
  outline: solid 5px oklch(62.67% 0.221 292.59);
  background-color: oklch(62.67% 0.221 292.59);
  box-shadow: 0 0 0 15px hsla(0, 0%, 0%);
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: all .3s ease-in-out;
}

label>input {
  appearance: none;
}

label:has(.erase:checked)~.slider {
  transform: translate(calc(-100% - 8px));
}

label:has(.reset:checked)~.slider {
  transform: translate(calc(100% + 8px));
}

/**====== MAIN ELEMENT CONTENTS [CONTAINER - 02 || RIGHT SECTION] ======**/

.container-button-right label input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 0;
}

.color-picker-icon {
  width: 25px;
  background-color: hsl(0, 0%, 0%);
  display: inline-block;
  margin-left: 8px;
  outline: solid 5px oklch(62.67% 0.221 292.59);
}

/*------ FOOTER ELEMENT CONTENTS ------*/

.footer {
  font-family: "Kalam", monospace, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
